.messages {
  position: relative;
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding-right: 5px;
  width: calc(100% + 5px);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
}

.bottomTrigger {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10000px;
  height: 10px;
  background-color: black;
}

.messages::-webkit-scrollbar {
  width: 5px;
}

.messageDate {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.messageDate p {
  font-size: 11px;
  color: white;
}

.messageText {
  display: flex;
  align-items: center;
  height: 100%;
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: gray;
}

.moreLimit{
  display: flex;
  align-items: center;
  justify-content: center;
}

.moreLimit button{
  background-color: var(--element-background-color);
}
