.messages {
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding-bottom: 10px;
  height: 100%;
  overflow-y: scroll;
}

.messageContainer {
  display: flex;
}

.message {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 300px;

  padding: 10px 20px;
  border-radius: 10px;
}
