.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.errorContainer h1 {
  font-size: 70px;
  color: var(--thematic-color);
}

.errorContainer a {
  padding: 10px 13px;
  border-radius: 10px;
  background-color: var(--header-background-color);
}
