.messageContainer {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 300px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.messageText {
  display: flex;
  align-items: center;
  word-break: break-all;
  height: 100%;
  margin: 10px 15px;
}

.textContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.userAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: gray;
  font-weight: 500;
  font-size: 17px;
  user-select: none;
}

.date {
  display: flex;
  align-items: flex-end;
  height: 100%;
  font-size: 12px;
  user-select: none;
}

.messageImage {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  background-color: #1e1e1e2c;
}

.messageFile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  width: 100%;
  color: white;
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.177);
}

.messageFile:hover {
  color: white;
  background-color: rgba(240, 248, 255, 0.336);
}

.imagesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.imageContainer {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.fileInfo {
  width: 100%;
}

.fileName {
  display: -webkit-box;
  width: 40%;
  word-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
